<p id = "notice"></p>
<!-- ユーザーの詳細 -->
<h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <% if user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
  <% end %>

<!--#NewBook-->
<%= form_with model: @book, url: "/books", method: :post do |f| %>
<h4>New Book</h4>
  <h5>title</h5>
  <%= f.text_field :title %>
  <h5>Opinion</h5>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>
