

<%= form_with model: @book, url: "/books", method: :post do |f| %>

<h2>Edit Book</h2>
  
  <h5>title</h5>
  <%= f.text_field :title %>
  <h5>Opinion</h5>
  <%= f.text_area :body %>
  
  <%= f.submit 'Update Book' %>
  
  <%= link_to "Show", book_path(@book.id) %> |
  <%= link_to "Back", books_path %>
<% end %>